<ion-view title="Cart" id="page2" style="background-color:#34879;">
    <ion-content padding="true" class="has-header">
        <ion-list id="cart-list4">
            <ion-item class="item-thumbnail-left" id="cart-list-item13">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="cart-list-item14">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="cart-list-item15">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <button id="cart-button8" class="button button-positive  button-block">Tap me!</button>
    </ion-content>
</ion-view>
