<ion-view title="Home" id="page1" style="background-color:#34879;">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading1" style="color:#000000;">Login</h1>
        <div id="home-markdown1" style="color:#000000;">
            <p>register or login</p>
        </div>
        <a ui-sref="menu.signup" id="home-button1" class="button button-positive  button-block">signup</a>
        <form id="home-form2" class="list">
            <a ui-sref="menu.login" id="home-button2" class="button button-positive  button-block">login</a>
        </form>
    </ion-content>
</ion-view>