<ion-view title="Product" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="product-card23">
            <ion-item class="item-avatar" id="product-list-item11">
                <h2>{{product.name}}</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"> -->
                    <img class="icon ion-image" width="60%" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" src="{{product.img}}" />
                <!-- </i> -->
            </div>
            <div class="item item-body" id="product-list-item-container3">
                <div id="product-null" style="margin-top:0px;color:#000000;">
                    <p>Price
                        <strong>{{product.price}}</strong>
                    </p>
                </div>
            </div>
        </div>
        <button id="product-button7" class="button button-positive  button-block">Tap me!</button>
    </ion-content>
</ion-view>
